body {
  margin: 0;
}

h1 {
  margin: 0
}

div {
padding-left: 50px;
padding-right: 50px;
}

section {
  width: 100%
}

#title {
  padding-left: 50px;
  padding-right: 50px;
}

.navbar {
  height: 4rem;
}

.nav-item {
  margin: 0;
  position: relative;
  text-align: right;
}

.nav-item li {
  display: inline;
  margin-right: 20px;
}

.parentBanner {
  background-image: url("./images/bannerImg.png");
  width: 100%;
  height: 571px;
  text-align: center;
}


.productImg {
  height: 400px;
}

.productText {
  padding-top: 100px
}

.midDiv {
  background-image: url("https://media-public.canva.com/BNgIQ/MADyQ_BNgIQ/1/s3.jpg");
  background-size: 100%;
  height: 400px;
}

.midDiv h1 {
  padding-top: 200px;
  font-family: "great vibes"
}

.row {
  margin-left: 0;
  margin-right: 0;
}
